%h1 Поиск по записям
.container-fluid
  .row
    .col-md-2
    .col-md-8
      .search-form
        = form_for search_path, method: :get do |f|
          %p
            = text_field_tag :q, params[:q], class: "form-control", placeholder: "Введите поисковый запрос"
            %br
            = submit_tag "Найти", name: nil, class: "btn btn-lg btn-primary btn-block"
    .col-md-2
.search-results
  %ul
    - @articles.each do |article|
      %li
        %h3
          = link_to article.subject, controller: "articles", action: "show", id: article.id
