.welcome_div
  %h1 "Солвариум"
  %table
    %tr
      %td
        %p.image_p= image_tag "stack_of_books.png", class: "books_image"
      %td
        %p.slogan
          здесь
          %br>/
          хранятся
          %br>/
          решения
          %br>/
          ваших
          %br>/
          проблем
  %p.vocabulary-quote
    solve [sɔlv]: решать, разрешать (проблему и т. п.); находить выход; объяснять.
