.welcome-section
  %h1 "Солвариум"
  %table
    %tr
      %td
        %p.image-p
          = image_tag "stack_of_books.png", class: "books-image"
      %td
        %p.slogan
          здесь
          %br>/
          хранятся
          %br>/
          решения
          %br>/
          ваших
          %br>/
          проблем
  %p.vocabulary-quote
    solve [sɔlv]: решать, разрешать (проблему и т. п.); находить выход; объяснять.
.about-section
  .container-fluid.marketing
    .row
      .col-lg-4
        %h2
          Для чего это нужно?
        %p
          Мы постоянно решаем разные проблемы, расходуя при этом такие невосполнимые ресурсы как время или нервы. И как обидно бывает порой осознать, что когда-то найденное решение забыто, и всё придётся начинать сначала. Знакомое ощущение, не правда ли?
        = link_to 'Читать далее', about_path, class: "btn btn-warning btn-xs"
      .col-lg-4
        %h2
          Как здесь всё устроено?
        %p
          Главный объект на сайте это "солв". Так мы называем статью, содержащую какое-то решение, заметку или прочую важную для вас информацию. Солвы бывают либо общими, либо приватными.
          Последовательно опубликованные солвы представляют собой "ленту". На сайте есть три вида лент.
        = link_to 'Читать далее', about_path, class: "btn btn-warning btn-xs"
      .col-lg-4
        %h2
          На каких условиях?
        %p
          Незарегистрированные пользователи имеют доступ только к общей ленте последних опубликованных солвов. Им также доступен полнотекстовый поиск по всем общим солвам. Они не могут создавать собственные солвы и оставлять комментарии к солвам, созданным другими пользователями. 
        = link_to 'Читать далее', about_path, class: "btn btn-warning btn-xs"