%h1 Все проекты
/ Nav tabs
%ul.nav.nav-tabs
  %li
    %a{"data-toggle" => "tab", :href => "#common"} Доступные проекты
  %li.active
    %a{"data-toggle" => "tab", :href => "#private"} Мои проекты
/ Tab panes
.tab-content
  #common.tab-pane.fade
    = render partial: 'shared/project', locals: {projects: @projects_common, tab_name: "common" }
  #private.tab-pane.fade.in.active
    = render partial: 'shared/project', locals: {projects: @projects_my_own, tab_name: "private" }
