%h1= "Статьи с тегом \"" + @tag.name + "\""
%ul
  - @articles.each do |article|
    - if article.user_id == current_user.id || article.common
      %li= link_to article.subject, article_path(article.id)
    - else
      %li= "Запись скрыта настройками приватности"
