/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "home";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic);
@import "tags";
@import "search";

h1 {
  text-align: center;
  padding-bottom: 20px;
}

.current_project_panel {
  font-family: 'Bad Script', cursive;
  font-size: 24px;
  color: white;
  padding-top: 25px;
  padding-bottom: 0px;
  margin-top: 25px;
  background-color: orange;
  p {
    text-align: center;
    margin-top: 5px;
    padding-bottom: 5px;
  }
}

.project-link {
  a { 
    color: white;
    font-weight: bolder;
  }
}

.welcome_div {
  h1 {
    font-family: 'Bad Script', cursive;
    font-weight: bold;
    font-size: 90px;
    text-align: center;
    padding-bottom: 50px;
  }
  table {
        margin: auto;
  }
  padding-top: 60px;
}

.slogan {
  margin-left: 100px;
  font-family: 'Bad Script', cursive;
  font-size: 40px;
  float: right;
}

.image-p {
  padding-left: 30px;
}

.books_image {
  width: 330px;
  float: right;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  color: #cccccc;
  background-color: #fff;
}